.reviews-list {
    list-style-type: none;
}

.review-item {
    border: 3px solid #051923;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.review-username {
    font-weight: bold;
    font-size: 20px;
    color: #051923;
}

.review-text {
    font-size: 16px;
    margin: 10px 0;
    color: #051923;
}

.review-time {
    font-size: 10px;
    color: #666;
}