body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #4c5b61;
}

button {
  width: 100%;
  background-image: linear-gradient(to right, #e26d12, #8c183e);
  color: white;

  font-size: 1rem;
  font-weight: bold;

  padding: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #ccc;

  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-image: linear-gradient(to right, #8c183e, #e26d12);
  }
  &:disabled {
    background-color: #cccccc;
    color: #999999;
    cursor: not-allowed;
    opacity: 0.75; /* Reduce opacity for a muted effect */
  }
}

h2,
h3 {
  color: #051923;
}

input,
select,
textarea {
  color: #4c5b61;
  font-weight: 1rem;

  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  width: 100%; /* Ensure input, select, and textarea take full width */
  box-sizing: border-box; /* Includes padding and border within the width */
  text-align: left; /* Ensure text inside fields is left-aligned */
}

input::placeholder,
textarea::placeholder {
  font-size: 1em;
  color: #4c5b61;
}

input:focus,
textarea:focus {
  border-color: #e26d12;
  outline: none;
}

select {
  font-weight: 1rem;
}

textarea {
  width: 100%; /* Ensure textarea stretches to 100% width */
  min-width: 300px;
  min-height: 2em;
  max-width: 480px;
  height: 10em;

  font-size: 1rem;
  color: #4c5b61;

  padding: 8px;
  margin-top: 5px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ================================
     Image Tiles
  ================================ */
/* Restaurant Image Container */
.restaurant-image-container {
  display: block;
  width: 100%;
  height: 33vh;
  border-radius: 0.5rem;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  background-color: #4a91e2b7; /* Default shaded background */
  display: flex; /* Align placeholder content (optional) */
  justify-content: center;
  align-items: center;
  color: #051923; /* text color for placeholder */
}

/* Restaurant Image */
.restaurant-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
}

/* When there's no image, add a shaded background */
.restaurant-image[alt=""] {
  display: none; /* Hide the image element when alt is empty */
}
