<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create a New Restaurant</title>
  </head>
  <body>
    <h1>Add a New Restaurant</h1>

    <form method="POST">
      {{ form.csrf_token }}

      <label for="name">Name:</label>
      {{ form.name() }}<br />

      <label for="address">Address:</label>
      {{ form.address() }}<br />

      <label for="city">City:</label>
      {{ form.city() }}<br />

      <label for="state">State:</label>
      {{ form.state() }}<br />

      <label for="country">Country:</label>
      {{ form.country() }}<br />

      <label for="phone_number">Phone Number:</label>
      {{ form.phone_number() }}<br />

      <label for="email">Email:</label>
      {{ form.email() }}<br />

      <label for="website">Website:</label>
      {{ form.website() }}<br />

      <label for="cuisine">Cuisine:</label>
      {{ form.cuisine() }}<br />

      <label for="price_point">Price Point:</label>
      {{ form.price_point() }}<br />

      <label for="description">Description:</label>
      {{ form.description() }}<br />

      <label for="monday_open">Monday Open:</label>
      {{ form.monday_open() }}<br />

      <label for="monday_close">Monday Close:</label>
      {{ form.monday_close() }}<br />

      <label for="tuesday_open">Tuesday Open:</label>
      {{ form.tuesday_open() }}<br />

      <label for="tuesday_close">Tuesday Close:</label>
      {{ form.tuesday_close() }}<br />

      <label for="wednesday_open">Wednesday Open:</label>
      {{ form.wednesday_open() }}<br />

      <label for="wednesday_close">Wednesday Close:</label>
      {{ form.wednesday_close() }}<br />

      <label for="thursday_open">Thursday Open:</label>
      {{ form.thursday_open() }}<br />

      <label for="thursday_close">Thursday Close:</label>
      {{ form.thursday_close() }}<br />

      <label for="friday_open">Friday Open:</label>
      {{ form.friday_open() }}<br />

      <label for="friday_close">Friday Close:</label>
      {{ form.friday_close() }}<br />

      <label for="saturday_open">Saturday Open:</label>
      {{ form.saturday_open() }}<br />

      <label for="saturday_close">Saturday Close:</label>
      {{ form.saturday_close() }}<br />

      <label for="sunday_open">Sunday Open:</label>
      {{ form.sunday_open() }}<br />

      <label for="sunday_close">Sunday Close:</label>
      {{ form.sunday_close() }}<br />

      <button type="submit">Add Restaurant</button>
    </form>
  </body>
</html>
